<div class="bigpic"> 
    <img src="assets/circlepic.png" alt="">
    <div class="bigpictext">
      <div class="text"> 
        <h1>
          <span>Mockup Website</span> 
          <span>in Angular</span>
        </h1>
        <p>
          An improvement of the old version of <a href="http://www.firefly.se" target="_blank">Firefly.se</a> in design; it seems they have updated it now to look much better and more modern.
        </p>
        <p>
          I use this website to learn Angular, REST API:s and hosting on AWS.
        </p>
      </div>
      <div class="buttonscon">
        <a class="button" href="#press">Press Me</a>
        <a class="button" href="#textcontainer">
          Don't Press Me
        </a>
      </div>
    </div>
  </div>