<div class="bigpic"> 
    <img src="assets/circlepic.png" alt="">
    <div class="bigpictext">
      <h1>
        <span>Mockup Website</span> 
        <span>in Angular</span>
      </h1>
      <p>
        An improvement of <a href="http://www.firefly.se" target="_blank">Firefly.se</a> in design, but not in function.
      </p>
      <p>
        Please only visit this website on a computer: it has not been designed for mobile.
      </p>
      <div class="buttonscon">
        <a class="button" href="#press">Press Me</a>
        <a class="button" href="#textcontainer">
          Don't Press Me
        </a>
      </div>
    </div>
  </div>