.bigpic {
    height: 70vh;
    position: relative;
    background-color: var(--primary-2)!important;
    display: flex;
    justify-content: center;
    min-height: 500px;
}

.bigpic img {
    height: auto;
    width: 40%;
    object-fit: contain;
    max-width: 500px;
    min-width: 421px;
}

.bigpictext{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.bigpictext h1, .bigpic h1 > span{
    color: #06394d;
    font-size: 60px;
}

h1 > span {
    display: block;
}

.bigpic a {
    text-decoration: none;
    color: var(--trimary3);

}

.bigpictext p{
    font-size: 20px;
    width: 500px;
}


.bigpic a.button {
    padding: 10px;
    border-color: var(--primary5);
    border-width: 3px;
    border-style: solid;
    color: white;
    background-color: var(--primary5);
    font-weight: 00;
}

.bigpic a.button:last-of-type {
    margin-left: 10px;
    background-color: inherit;
    color: var(--primary5);
}

.buttonscon {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 10%;
}

@media only screen and (max-width: 970px) {
    .bigpic > img {
        display: none;
    }
    .bigpictext {
        margin: 0;
    }
}


@media only screen and (max-width: 670px) {
    .bigpic h1 > span {
        font-size: 40px;
    }

    .bigpictext p{
        font-size: 15px;
        width: auto;
    }

    .bigpictext {
        margin-left: 1em;
        margin-right: 1em;
    }

    .bigpictext p:last-of-type{
        margin-bottom: 20%;
    }
}
