<div class="projects">
    <div class="projectContainer">
        <div class="headline">
            <h3>
                LOL CHAMPION RECOMMENDATIONS
            </h3>
        </div>
        <div class="text">
            <p>
                A set of Python scripts which gathers data from the Riot API, analyses it with ML and recommends new champions based on what you have played.
            </p>
            <p>
                Proident culpa nisi cillum cillum sit consectetur sint dolore deserunt dolore do consequat veniam. Anim adipisicing dolor commodo quis minim commodo non est dolor aliquip duis mollit do. Ea nisi nostrud in ea aliquip incididunt quis excepteur non et enim elit. Consequat pariatur laborum sunt enim qui sunt cupidatat. Ex dolore commodo nisi excepteur labore duis laboris duis et nostrud. Esse officia nulla dolore non duis in nulla minim sunt.
            </p>
            <a href="https://github.com/xDeZex/ChampionRecommendations" target="_blank">Github Repo</a>
        </div>
    </div>
    <div class="projectContainer">
        <div class="text">
            <p>
                Another set of Python scripts which scrapes data from HTLV and calculates the ELO for every player in every match of professional CSGO.
            </p>
            <p>
                Proident culpa nisi cillum cillum sit consectetur sint dolore deserunt dolore do consequat veniam. Anim adipisicing dolor commodo quis minim commodo non est dolor aliquip duis mollit do. Ea nisi nostrud in ea aliquip incididunt quis excepteur non et enim elit. Consequat pariatur laborum sunt enim qui sunt cupidatat. Ex dolore commodo nisi excepteur labore duis laboris duis et nostrud. Esse officia nulla dolore non duis in nulla minim sunt.
            </p>
            <a href="https://github.com/xDeZex/CSGOProELO" target="_blank">Github Repo</a>
        </div>
        <div class="headline">
            <h3>
                ESPORT CSGO ELO
            </h3>
        </div>
    </div>
</div>