<div class="projects" id="projects">
    <h2>
        Projects
    </h2>
    <div class="projectContainer  project__headline--left">
        <div class="project__headline">
            <h3>
                ai and api
            </h3>
        </div>
        <div class="project__text">
            <p>
                A .NET API combined with machine learning and hosted on AWS Lambda and DynamoDB. It recommends League of Legends characters to play based on the users previous play patterns.
            </p>
            <p>
                Proident culpa nisi cillum cillum sit consectetur sint dolore deserunt dolore do consequat veniam. Anim adipisicing dolor commodo quis minim commodo non est dolor aliquip duis mollit do. Ea nisi nostrud in ea aliquip incididunt quis excepteur non et enim elit. Consequat pariatur laborum sunt enim qui sunt cupidatat. Ex dolore commodo nisi excepteur labore duis laboris duis et nostrud. Esse officia nulla dolore non duis in nulla minim sunt.
            </p>
            <a href="https://github.com/xDeZex/ChampRecAPI/tree/aws" target="_blank">Github Repo</a>
            <a href="/recommend">Website</a>
        </div>
    </div>
    <div class="projectContainer project__headline--right">
        <div class="project__headline">
            <h3>
                esport CSGO elo
            </h3>
        </div>
        <div class="project__text">
            <p>
                A set of Python scripts which scrapes data from <a href="https://www.hltv.org" target="_blank">HLTV.org</a> and calculates the ELO for every player in every match of professional CSGO.
            </p>
            <p>
                Voluptate eiusmod enim ut nisi Lorem amet aute nostrud deserunt occaecat tempor culpa voluptate. Aute fugiat ex enim cupidatat aute culpa do. Laboris consectetur cupidatat incididunt tempor tempor in excepteur Lorem exercitation sit. Ea id nisi labore cupidatat. Voluptate nisi laborum consequat elit laboris labore dolor sit elit. Elit pariatur aute officia anim est deserunt ullamco exercitation occaecat.
            </p>
            <a href="https://github.com/xDeZex/CSGOProELO" target="_blank">Github Repo</a>
        </div>
    </div>
</div>