<div class="projects">
    <div class="projectContainer">
        <div class="headline">
            <h3>
                LOL CHAMPION RECOMMENDATIONS
            </h3>
        </div>
        <div class="text">
            <p>
                A set of Python scripts which gathers data from the Riot API, analyses it with ML and recommends new champions based on what you have played.
            </p>
            <a href="https://github.com/xDeZex/ChampionRecommendations" target="_blank">Github Repo</a>
        </div>
    </div>
    <div class="projectContainer">
        <div class="text">
            <p>
                Another set of Python scripts which scrapes data from HTLV and calculates the ELO for every player in every match of professional CSGO.
              </p>
            <a href="https://github.com/xDeZex/CSGOProELO" target="_blank">Github Repo</a>
        </div>
        <div class="headline">
            <h3>
                ESPORT CSGO ELO
            </h3>
        </div>
    </div>
</div>