.displayRec {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem 0rem;
    gap: 3rem;
}

#displayRec{
    scroll-margin-top: -30rem;
}

.displayRec::before{
    display: block;
    content: "";


    height: 1.5rem;
    background: linear-gradient(45deg, var(--primary5), var(--primary3));
    border-radius: 1rem;
    position: absolute;
    width: 100%;
    top: -1.5rem;
}

.hidden {
    visibility: hidden;
}

.imgContainer > img{
    margin: 1rem;
    border-radius: 5px;
}

.imgContainer{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer{
    flex-grow: 1;
    flex-basis: 0;
}

.one {

}

.two {
    height: 100px;
}
.three {
    height: 80px;
}


@media only screen and (max-width: 1100px) {
    .imgContainer{
        flex-direction: column;
    }
}

@media only screen and (max-width: 670px) {
    .displayRec{
        flex-direction: column;
        height: auto;
        margin: 3rem 1rem 0rem;
    }

    
}