<div class="rec">
    <div>
      <div class="inputContainer">
        <div class="recInput">
          <input id="name" [(ngModel)]="summoner.name" placeholder="Username..." maxlength="24">
          <div class="buttonContainer">
            <button for="name" (click)="createSummoner()">Submit</button>
            <button for="name" (click)="getSummoner()">Get</button>
          </div>
          <p *ngIf="summoner2.error">{{summoner2.name}}</p>
          <p *ngIf="recommendation.error">{{recommendation.one}}</p>
          <p *ngIf="summoner2.name && !summoner2.error">Added user: {{summoner2.name}}</p>
        </div>
        <div class="rectext">
          <h1>
            Champion Recommendation
          </h1>
          <p>Get recommendations on which LoL champion to play next.</p>
          <p>Enter your username and AI will analys your LoL account and give you personalized recommendations for which champions to learn next.</p>
        </div>  
      </div>
    </div>
    
</div>