.branches {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}

.branches h3 {
    margin: 0 3rem;
}

#press {
    scroll-margin-top: 3rem;
}

.boxContainer{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    max-width: 70rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.textBox{
    display: block;
    border-radius: 1rem;   
    width: 13rem; 
    height: 13rem;
    text-align: center;
    background-color: var(--trimary3);
    padding: 1rem;
    padding-top: 0rem;
}

.textBox p {
    color: black;
    margin-top: 0;
    
    font-family:var(--fontTrimary);
    font-weight: 400;
}

.textBox:hover{
    box-shadow:0rem 0rem 1rem 0.1rem var(--trimary1);
}



.textBox h4{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    column-gap: 0.25em;
    justify-content: center;
}

.textBox h4 > span{
    display: block;
    font-family:var(--fontSecondary);
    color: black;
    width: min-content;
    
}


.textBox:hover h4 > span::after{
    transform: scaleX(1) !important;
    transform-origin:0% 50%;
}


.textBox h4 > span:last-child::after{
    transition-delay: 350ms;
    transition-timing-function: ease-in !important;
}


.textBox h4 > span:first-child::after{
    transition-delay: 0ms !important;
    transition-timing-function: ease-out;
}

.textBox:hover h4 > span:last-child::after{
    transition-timing-function: ease-out;
}


.textBox:hover h4 > span:first-child::after{
    transition-timing-function: ease-in !important;
}

.textBox h4 > span::after {
    display: block;
    content: "";
    border-bottom: 1px solid black;
    transition: transform 300ms ease-in;
    transform: scaleX(0); 
    transform-origin: 100% 50%; 
}

.textBox:nth-child(even){
    background-color: var(--primary-2);
}

.textBox:hover:nth-child(even){
    box-shadow:0rem 0rem 1rem 0.1rem var(--primary-2);
}