<div class="branches" id="press">
  <h3>
    These are the technologies and languages used to make this website:
  </h3>
      
  <div class="boxContainer">
    <div class="textBox">
      <h4>
        <span>.NET</span>
      </h4>
      <p>
        This website requests data from a .NET API hosted on AWS.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Angular</span>
      </h4>
      <p>
        This website is coded in Angular.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>AWS</span>
      </h4>
      <p>
        This website utilizes both AWS Lambda and AWS DynamoDB.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>AWS</span> <span>Lambda</span>
      </h4>
      <p>
        Lambda is used to host the .NET API and a Python script.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>AWS</span> <span>DynamoDB</span>
      </h4>
      <p>
        DynamoDB is used to store submitted names and is automatically updated from the Riot API by a Lambda function.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>GIT</span>
      </h4>
      <p>
        My projects are on Github and this website is hosted on Github Pages.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Python</span>
      </h4>
      <p>
        Python is used to write smaller scripts and AWS triggers for DynamoDB.
      </p>
    </div>
  </div>
</div>