<div class="branches" id="press">
  <span>
      <h3>
        These are the branches Firefly work in:
      </h3>
      <p>
        Firefly works in a wast array of different branches and develops specific and industry-leading solutions for each.
      </p>
  </span>
  <div class="boxContainer">
    <div class="textBox">
      <h4>
        <span>Wood</span><span> Panel  </span>
      </h4>
      <p>
        Firefly supplies lorem ipsum dawoijfe.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Wood</span> <span> Working</span>
      </h4>
      <p>
        Firefly supplies lorem ipsum dawoijfe.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Bioenergy</span>
      </h4>
      <p>
        Firefly supplies lorem ipsum dawoijfe.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Recycling</span>
      </h4>
      <p>
        Firefly supplies lorem ipsum dawoijfe.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Hygiene</span>
      </h4>
      <p>
        Firefly supplies lorem ipsum dawoijfe.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Power</span> <span>Generation </span>
      </h4>
      <p>
        Firefly supplies lorem ipsum dawoijfe.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Electronic</span> <span> Nose</span>
      </h4>
      <p>
        Firefly supplies lorem ipsum dawoijfe.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Healthcare</span>
      </h4>
      <p>
        Firefly supplies lorem ipsum dawoijfe.
      </p>
    </div>
    <div class="textBox">
      <h4>
        <span>Other</span>
      </h4>
      <p>
        Firefly supplies lorem ipsum dawoijfe.
      </p>
    </div>
  </div>
</div>