<div class="branches" id="press">
    <h1>
      These are the branches Firefly work in:
    </h1>
    <p>
      I didn't want to spend more time in Photoshop...
    </p>
    <ul>
      <li><a href="#branch"><img src="assets/1.jpg" alt=""></a></li>
      <li><a href="#branch"><img src="assets/2.jpg" alt=""></a></li>
      <li><a href="#branch"><img src="assets/3.jpg" alt=""></a></li>
    </ul>
    <ul>
      <li><a href="#branch"><img src="assets/4.jpg" alt=""></a></li>
      <li><a href="#branch"><img src="assets/5.jpg" alt=""></a></li>
      <li><a href="#branch"><img src="assets/6.jpg" alt=""></a></li>
    </ul>
    <ul>
      <li><a href="#branch"><img src="assets/7.jpg" alt=""></a></li>
      <li><a href="#branch"><img src="assets/8.jpg" alt=""></a></li>
      <li><a href="#branch"><img src="assets/9.jpg" alt=""></a></li>
    </ul>
  </div>