/* You can add global styles to this file, and also import other style files */
a {
    font-size: 20px;
    
}

body{
    margin: 0;
}

html {
    
    scroll-behavior: smooth;
}

p {
    line-height: 1.3em;
}

a {
    color: var(--trimary3)
}

*{
    font-weight: 700;
    font-family:var(--fontPrimary);

}
p{
    font-weight: 400 !important;
}

p {font-size: var(--font-size--medium)}
h5 {font-size: var(--font-size--subheading)}
h4 {font-size: var(--font-size--heading)}
h3 {font-size: var(--font-size--large)}
h2 {font-size: var(--font-size--large)}
h1 {font-size:var(--font-size--x-large)} 

h1, h2, h3, h4, h5{
    color: var(--primary5);
}

p, span {
    color: var(--font-bread-color);
}

/*https://paletton.com/#uid=33E0k0kq4uxgaG4ljxNudq4wukB*/
:root{
    --fontPrimary:'Libre Franklin', 'Arial Narrow', Arial, sans-serif;
    --fontSecondary:'Roboto Mono', 'Arial Narrow', Arial, sans-serif;
    --fontTrimary:'Roboto', 'Arial Narrow', Arial, sans-serif;
    --primary-2: #C2D7F4;
    --primary1: #6691CD;
    --primary2: #4074BB;
    --primary3: #215DB0;
    --primary4: #0C4695;
    --primary5: #083674;
    --secondary1: #FFDA72;
    --secondary2: #FFCF48;
    --secondary3: #FFC41C;
    --secondary4: #E2A700;
    --secondary5: #B18200;
    --trimary1: #FFB672;
    --trimary2: #FFA048;
    --trimary3: #FF891C;
    --trimary4: #E26D00;
    --trimary5: #B15500;    

    font-size: clamp(15px,1vw,20px);
    --font-size--xsmall: 0.76rem;
    --font-size--small: 0.86rem;
    --font-size--subheading: 1rem;
    --font-size--medium: 1.2rem;
    --font-size--heading: 1.38rem;
    --font-size--large: 2.15rem;
    --font-size--x-large: 3.75rem;

    --font-bread-color: #000000;
}