<div class="textcontainer" id="textcontainer">
    <div class="l1">
      <article>
        <div class="l1flex">
          <img src="assets/stock.webp" alt="">
          <div>
            <h5>
              I'M LOOKING FOR JOBS IN
            </h5>
            <h4>
              CODING AND SOFTWARE DEVELOPMENT
            </h4>
            <p>
              Oliver Lillberg has a bachelor’s in computer science from KTH and is looking for a fun and challenging job in software development.
            </p>
            <p>
              With a range of knowledge of programming languages and computer science covering everything from UI design to algorithms and database to big data, Oliver Lillberg is a good choice for your company.
            </p>
            <p>
              Contact: oliver.lillberg@gmail.com
            </p>
          </div>
        </div>
      </article>
      <div class="l2">
        <article>
          <h5>
            GITHUB
          </h5>
          <h4>
            LOL CHAMPION RECOMMENDATIONS
          </h4>
          <p>
            A set of Python scripts which gathers data from the Riot API, analyses it with ML and recommends new champions based on what you have played.
          </p>
          <a href="https://github.com/xDeZex/ChampionRecommendations" target="_blank">Github Repo</a>
        </article>
        <article>
          <h5>
            GITHUB
          </h5>
          <h4>
            ESPORT CSGO ELO
          </h4>
          <p>
            Another set of Python scripts which scrapes data from HTLV and calculates the ELO for every player in every match of professional CSGO.
          </p>
          <a href="https://github.com/xDeZex/CSGOProELO" target="_blank">Github Repo</a>
        </article>
      </div>
    </div>
    <div class="r1">
      <article>
        <h5>
          LISTEN TO THE MUSIC
        </h5>
        <h4>
          OLIVER LILLBERG'S SPOTIFY
        </h4>
        <p>
          I don't know what else to write, so here is my Spotify account:
        </p>
        <a href="https://open.spotify.com/user/31oeoctxoykryhide5inkvczqt4q?si=8f3c4429ef6d4e6c" target="_blank">Spotify</a>
        <p>
          I listen to a lot of music, new and old, so there is probably something new for everyone. This account is quite recent, and I haven't recreated my album collection yet.
        </p>
      </article>
    </div>
  </div>